.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  left: -999em;
}

/*
  Styling for selectWoo/select2 component.
*/
.select2 ul, .select2-container ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.select2 ul > li, .select2-container ul > li {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.select2 ul > li:before, .select2-container ul > li:before {
  content: "" !important;
  padding-right: 0 !important;
}

.select2 {
  min-height: 40px;
  margin-top: 8px;
}

.selection {
  min-height: 40px;
  display: block;
}

.select2-container .select2-selection--multiple {
  min-height: 40px;
}

.select2-search.select2-search--inline {
  margin-top: 6px;
}

.select2-container--focus {
  outline: 4px solid #febb30;
  outline-offset: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: black;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white;
  float: right;
  margin-left: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: white;
}

.select2-container.select2-container--default .select2-dropdown {
  border: 1px solid #747474;
}

.select2-container.select2-container--default .select2-results__options {
  max-width: 100% !important;
}

.select2-container.select2-container--default .select2-results__option {
  border-bottom: 1px solid #BFBFBF;
  padding-left: 48px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #1a1a1a;
}

.select2-container.select2-container--default .select2-results__option:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 16px;
  top: calc(50% - (20px - 10px));
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 2px;
  vertical-align: middle;
}

.select2-container.select2-container--default .select2-results__option[data-selected=true]:before {
  background-color: black;
}

.select2-container.select2-container--default .select2-results__option[data-selected=true]:after {
  content: "";
  height: 7px;
  width: 14px;
  position: absolute;
  left: calc(16px + 3px);
  top: calc(50% - (20px - 10px));
  box-shadow: -3px 3px 0px 0 #fff;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.select2-container.select2-container--default .select2-results__option[data-selected=true] {
  background-color: transparent;
}

.select2-container.select2-container--default .select2-results__option--highlighted, .select2-container.select2-container--default .select2-results__option--highlighted[data-selected=true] {
  background-color: #f5f5f5;
}

.select2-container.select2-container--default .select2-results__option.select2-results__message {
  padding-left: 8px;
}

.select2-container.select2-container--default .select2-results__option.select2-results__message:before, .select2-container.select2-container--default .select2-results__option.select2-results__message:after {
  display: none;
}

.select2-container.select2-container--default .select2-results__option:focus {
  outline: none;
}
