<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tekstelementer | My VuePress Site!!</title>
    <meta name="description" content="">
    
    
    <link rel="preload" href="/assets/css/0.styles.a84abb74.css" as="style"><link rel="preload" href="/assets/js/app.af73bf98.js" as="script"><link rel="preload" href="/assets/js/7.f077d2b3.js" as="script"><link rel="prefetch" href="/assets/js/2.58f24b2e.js"><link rel="prefetch" href="/assets/js/3.e6c2a8fe.js"><link rel="prefetch" href="/assets/js/4.5dfda16b.js"><link rel="prefetch" href="/assets/js/5.01df1b45.js"><link rel="prefetch" href="/assets/js/6.d985b50b.js"><link rel="prefetch" href="/assets/js/8.b9121185.js">
    <link rel="stylesheet" href="/assets/css/0.styles.a84abb74.css">
  </head>
  <body>
    <div id="app" data-server-rendered="true"><div class="container page-container"><div class="row"><div class="sidebar"><!---->  <!----> </div> <main class="col-12 col-lg-9"><section id="section"><p class="h6 m-0">
    Komponenter
    PAGE
  </p> <h1 class="mt-0">Tekstelementer</h1> <p class="font-lead">Tekstelementer show tabular data in columns and rows.</p> <div class="content"><h2 id="headings"><a href="#headings" aria-hidden="true" class="header-anchor">#</a> Headings</h2> <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p> <p>{% include code/preview.html component=&quot;headings&quot; %}
{% include code/accordion.html component=&quot;headings&quot; %}</p> <h2 id="body-copy"><a href="#body-copy" aria-hidden="true" class="header-anchor">#</a> Body copy</h2> <p>The Frontend styleguide's global default <code>font-size</code> is <strong>16px</strong>, with a <code>line-height</code> of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default).</p> <p>{% include code/preview.html component=&quot;bodycopy&quot; %}
{% include code/accordion.html component=&quot;bodycopy&quot; %}</p></div></section></main></div></div></div>
    <script src="/assets/js/app.af73bf98.js" defer></script><script src="/assets/js/7.f077d2b3.js" defer></script>
  </body>
</html>
